
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #51387a;
    border: 10px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0ab13c;
}


.btn {
    display: block;          
    width: 30%;              
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;          
}

.btn:hover {
    background-color: #45a049;
}


.form-group {
    font-size: 18px;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#login_name, #login_email, #login_password,
#name, #email, #password {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
